{% extends './layout.html' %}

{% block title %} Merchandize {% endblock %}

{% block body %}
    <div>
      <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>Record!</td>
            <td>15.00</td>
            <td>  
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </td>
            <td><button type="button" class="btn btn-secondary">Add to Cart</button></td>
          </tr>
          <tr>
            <td>T-Shirt!</td>
            <td>10.00</td>
            <td>  
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </td>
            <td><button type="button" class="btn btn-secondary">Add to Cart</button></td>
          </tr>
          <tr>
            <td>Hoodie!</td>
            <td>30.00</td>
            <td>  
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </td>
            <td><button type="button" class="btn btn-secondary">Add to Cart</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <form action="your-server-side-code" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
        data-amount="999"
        data-name="BandSite"
        data-description="Example charge"
        data-image="http://purepng.com/public/uploads/large/purepng.com-black-electric-guitarelectric-guitarsteelstringselectricalblack-1421526494331fiufa.png"
        data-locale="auto"
        data-zip-code="true">
      </script>
    </form>
{% endblock %}
